header{
    text-align: center;
    font-size: xx-large;
}

#game-board{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.cell {
    border: 1px solid #000;
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.cell:hover {
    background-color: lightblue;
}